.adopt{
    margin-bottom:60px;
}
.adoptTitle{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size:50px;
    text-decoration-line: underline;
    margin-bottom: 30px;
    
}